/*
COLORS:

Light blue: #229799
Medium black: #000000
Dark white: ##FFFFFF

*/

*::after,
*::before,
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 60%;/*red we use the % in body as to relative to 16%*/
    scroll-behavior: smooth;
}

.error{
    display: none;
}

@media screen and (max-width: 1048px) {
    html{
        font-size: 50%;
    }
}

@media only screen and (max-width: 200px) {
    html{
        display: none;
    }
    .error{
        color: #229799;
        display: block;
    }
  }

/* Small devices */

/* Medium devices*/
@media only screen and (max-width: 768px) {
    html{
        font-size: 40%;
    }
} 

  /* Large devices  */
@media only screen and (max-width: 992px) {
    html{
        font-size: 50%;
    }
} 



body{
    margin:0;
    padding: 0;
    font-family: 'Clash Display', sans-serif;
    font-weight: 400;
    color: rgb(255, 255, 255);
}
.logo{
    float: left;
    display: block;
}


.topnav {
    top:0;
    position: sticky;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    text-align:center;
    padding: 0 10vw;
  }
  
.topnav-center{
    text-align: center;
}

.topnav-right{
    text-align: right;
}

.topnav a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    text-transform: capitalize;
}


.hero-section ,
.project_section{
    background-color: black;
    height: 98vh;
    position: relative;
}

.marquee {
    display: flex;
    overflow: hidden;
    height: 60vh;
    user-select: none;
    gap: 5rem;}


.marquee__group {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    min-width: 100%;
    animation: scroll 70s linear infinite reverse;
}

.marquee__group span {
    color: #95959530;
    font-size: 90vh;
    font-weight: 800;
    white-space: nowrap;
    text-transform: uppercase;
    
}

@keyframes scroll {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(calc(0 - 5rem));
    }
}

@media only screen and (min-width: 360px) {
    .marquee__group span {
        font-size: 60vh;
    }
}

.margin_fix{
    margin-top: -5vw;
}

.txt_hero,
.project_section{
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    margin-left:10vw;
    margin-right:10vw;
    width: 80vw;
    justify-content: space-between;
}

.hero-detail{
    width: 40vw;
}
.detail-txt{
    z-index: 99;
    font-size: 5rem;
    background: linear-gradient(to right,#229799, white);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 1rem;

}

.btn_active{
    font-weight: 400;
    text-transform: capitalize;
    margin: 1rem;
    padding: 1rem 2rem;
    border-radius: 50px;
    background-color: #229799;
    color: white;
    text-decoration: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    transition-duration: 0.4s;
}

.btn_active:hover {
    background-color: rgb(255, 255, 255);
    color: #229799;
}

.hero-num{
    margin-top: -10rem;
    display: block;
}

.flex-num{
    margin: 2rem;
}

.num{
    color: #229799;
    margin: -1rem;
    font-weight: 600;
    font-size: 5rem;
}

.para_white{
    text-transform: capitalize;
    color: white;
    font-weight: 400;
    font-size: 2rem;
}

.align_rigth{
    text-align: right;
}

.hero{
    display: block;
    height:70rem;
    position: absolute;
    top: 50%;  
    left: 50%;
    transform: translate(-50%, -50%); 
}

.bg_black{
    background-color: black;
}

.title{
    text-transform: uppercase;
    font-size: 8rem;
    line-height: 0.8;
}

.sub_title{
    justify-content: center;
    font-size: 3rem;
    text-align: left;
}


.txt_project{
    grid-column: 1 / span 2;
    position: relative;
    display: flex;
}


.text_box2{
    position: absolute;
    bottom: 0;
    right: 0;
}


.memoji_3{
    position: absolute;
    left:72vw;
    bottom: 0;
}

.memoji{
    height: 20rem;
    transition: transform .5s;
}


.memoji:hover {
    transform: scale(1.1);

}

.list_item{
    cursor:pointer;
    margin: 0rem 1rem 3rem 1rem;
    display: flex;
    flex-direction: row;
    width: 40vw;
    justify-content: space-between;
    border-bottom: 1px solid white;
}

.blue_icon{
    padding: 1rem;
    margin: 1rem;
    background-color: #229799;
    border-radius: 50%;
    height: 9rem;
}

.project_section{
    padding-top: 5rem;
}

.title_project{
    font-size: 5rem;
    margin-bottom: -1rem;
}


.blue_bg{
    position: relative;
    padding-top:5rem;
    background-color: #229799;
}

.center_content{
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    margin-left:10vw;
    margin-right:10vw;
    width: 80vw;
    justify-content: space-between;
}

.txt_contact{
    width: 60vw;

}

.icon_contact{
    width:20rem;
    height: 20rem;
    align-items: center;
    justify-content: center;
    display:grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

.socail_icon{
    width: 12rem;
    height: auto;
}

.form{
    margin-top:3rem;
}

.label_field{
    padding: 2rem;
    font-size: 3rem;
    font-weight: 500;
    color: white;
    margin-right: 2rem;
}

.text_box,
#text_area{
    height: 3rem;
    width: 80%;
    justify-content: center;
    border: none;
    border-bottom: 1px solid white;
    background-color: #229799;
}

.field_flex{
    display: flex;
}

.btn_end{
    background-color: black;
}

.width{
    padding-top: 3rem;
    padding-bottom: 3rem;
    width: 100%;
    text-align: center;
}


/*-------------------------------------------infinte scroll------------------------------------------------*/
.logos{
    padding: 3rem;
    overflow: hidden;
    white-space: nowrap;
}


.slide_item{
    margin: 0rem 2rem;
    height: 3rem;
}


.logos:hover .logos-slide {
    animation-play-state: paused;
}

.logos-slide {
    display: inline-block;
    animation: 35s slide infinite linear;
}

.logos img{
    margin-right: 2rem;
    height: 10rem;
}


@keyframes slide {
    from{
        transform: translateX(0);
    }to{
        transform: translateX(-100%);
    }
}


/*---------------------------------------------------------------*/

.copyright{
    text-align: center;
    display: block;
    padding-bottom: 2rem;
    font-size: 1.5rem;
    color: rgb(199, 199, 199);
}


/*---------------------------------------------------------------*/

.grid-out{
    display: block;
    width: 90vw;
    height: 90vh;
}

.grid-container {
    margin: auto;
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(4,30rem);
    grid-template-rows:repeat(2,30rem);
}

.grid-item {
    width:30rem;
    height: 30rem;
}


.card_img{
    height: 100%;
    width: 100%;
    object-fit:cover;
}

.card {
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    height: 100%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    cursor:pointer
}

.text_cards {
    width:100%;
    height: 100%;
    background: linear-gradient(to right,#229799, rgb(0, 0, 0));
    z-index: 2;
    position: absolute;
    top:0;
    left: 0;
    transition-duration: 0.4s;
}


.title_card{
    text-transform: capitalize;
    text-align: center;
    justify-content: center;
    font-size: 4rem;
    font-weight: 300;
    color: #f2f2f2;
}

.text_cards:hover{
    opacity: 0;
}